<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head lang="en" >
    <meta  charset="UTF-8" />
    <title>Robo Resume - Result Skills</title>
</head>
<body>
<h1>Skills Entered</h1>

<!--private String skillTitle;-->

<!--private String skillRating;-->

<p th:text="'Skill Title: ' + ${newSkills.skillTitle}"></p>
<p th:text="'Skill Rating: ' + ${newSkills.skillRating}"></p>



<a href="/enterSkills" > <input type="submit" value="Add Another Skills"/></a>

<a href="/displayPersonAllInfo"> <input type="submit" value="Result"/></a>


<br/>
<br/>





<!--<a href="/enterEducation"> <input type="submit" value="Continue"/></a>-->

</body>
</html>